<p id="notice"><%= notice %></p>

<h1>Discusses</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Response</th>
      <th>Learn user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discusses.each do |discuss| %>
      <tr>
        <td><%= discuss.content %></td>
        <td><%= discuss.article.title %></td>
        <td><%= discuss.learn_user.email %></td>
        <td><%= link_to 'Show', discuss %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discuss', new_discuss_path %>
