<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @discuss.content %>
</p>


<p>
  <strong>Response:</strong>
  <%= @discuss.response %>
</p>

<p>
  <strong>Learn user:</strong>
  <%= @discuss.learn_user %>
</p>

<%= link_to 'Edit', edit_discuss_article_path(@discuss) %> |
<%= link_to 'Back', discusses_article_path %>
