<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
   <%= @learn_user.email %>
</p>

<p>
  <strong>Create Data </strong>
  <%= @learn_user.created_at %>
</p>

<p>
   <strong>Update Data</strong>
   <%= @learn_user.updated_at =%>
</p>

<%= link_to 'Edit', edit_user_path(@learn_user)%>
<%= link_to 'Back', learn_users_path %>
