<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :is_answer %>
    <%= form.check_box :is_answer %>
  </div>

  <div class="field">
    <%= form.label :article %>
    <%= form.text_field :article %>
  </div>

  <div class="field">
    <%= form.label :learn_user %>
    <%= form.text_field :learn_user %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
