<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @response.content %>
</p>

<p>
  <strong>Is answer:</strong>
  <%= @response.is_answer %>
</p>

<p>
  <strong>Article:</strong>
  <%= @response.article %>
</p>

<p>
  <strong>Learn user:</strong>
  <%= @response.learn_user %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
