<%= form_with(model: learn_article, local: true) do |form| %>
  <% if learn_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learn_article.errors.count, "error") %> prohibited this learn_article from being saved:</h2>

      <ul>
      <% learn_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :is_avilable %>
    <%= form.check_box :is_avilable %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :popular %>
    <%= form.number_field :popular %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
