<!DOCTYPE html>
<html>
  <head>
    <title>LearnApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<style type="text/css">
#Navbar{
  position: relative;
  
}
#Context{
  position: relative;
  padding-top: 100px;
  padding-left: 12%;
  padding-right: 12%;
}
</style>
  </head>

  <body>

   <main> 
   <div>
    <div id="Navbar">
     <%= react_component("Navbar",{userData: @userData }) %>
     </div>
     <div id="Context">
    <%= yield %>
    </div>
    </div>
   </main>
  </body>
</html>
